<template>
    <div :class="[$store.getters.isMobile?'fullscreen':'']">
        <v-toolbar style="background: #009ed6;">
            <v-spacer></v-spacer>
            <v-text-field prepend-icon="search"
                          :label="$root.$data.search"
                          :class="[$store.getters.isMobile?'fullscreen':'']"
                          v-model="query"
                          hide-details single-line light></v-text-field>
            <v-spacer></v-spacer>
        </v-toolbar>


        <v-layout v-if="loading" column align-center>
            <v-progress-circular indeterminate v-bind:size="50"
                                 class="primary--text ma-4"></v-progress-circular>
        </v-layout>

        <h5 v-if="filteredWords!=null && filteredWords.length==0" class="text-xs-center pt-4 mt-4">
            {{$root.$data.notFound}}</h5>

        <v-layout wrap style="display:flex; flex-direction: row; justify-content: center;" class="mb-4 mt-4">
            <v-card v-if="filteredWords!=null && filteredWords.length>0"
                    v-for="(item,index) in filteredWords"
                    :key="index"
                    class="ma-3 pt-3"
                    height="320px"
                    style="width:260px; position: relative;text-align:center; overflow: hidden; border-radius: 16px; ">

                <!--<v-card-title class="pb-0">Title</v-card-title>-->
                <!--<v-subheader>Subheader</v-subheader>-->
                <!--<h5>456</h5>-->
                <p class="headline">{{item.kz}}</p>
                <p class="title  secondary--text">{{item.ru}}</p>
                <!--<div>-->
                <img v-if="item.image" width="200" alt="" :src="'public/images/base/'+item.image"/>
                <!--</div>-->

                <v-btn v-if="item.sound" style="position:absolute; left:0; bottom:0;" floating small warning
                       @click.native="onClickSoundSlowly(item.sound)">
                    <v-icon>slow_motion_video</v-icon>
                    <!--explicit ,audiotrack ,high_quality-->
                </v-btn>

                <v-btn v-if="item.sound" style="position:absolute; right:0; bottom:0;" floating small
                       class="light-blue"
                       @click.native="onClickSound(item.sound)">
                    <v-icon light>hearing</v-icon>
                </v-btn>

            </v-card>

        </v-layout>
    </div>
</template>


<script>
    let words = [];
    parts.forEach((item) => {
        item.contents.forEach((content) => {
            if (content.words) {
                words.push(...content.words);
            }
        });
    });

    words = words.filter((elem, index, self) => {
        return self.findIndex((t) => {
            return t.kz.trim().toLowerCase() === elem.kz.trim().toLowerCase();
        }) === index;
    });

    export default {
        data() {
            return {
                audio: null,
                words: null,
                loading: null,
                query: '',
                msg: 'NOT LOADED',
            }
        },
        computed: {
            filteredWords() {
                if (this.query == '') return this.words;

                return this.words.filter((item) => {
                    if (item.kz.trim().toLowerCase().match(this.query.trim().toLowerCase()))
                        return item;
                });
            }
        },
        methods: {
            onClickSound(snd) {
                if (snd) {
                    this.audio = new Audio();
                    this.audio.playbackRate = 1;
                    this.audio.src = "public/sounds/" + snd;
                    this.audio.play();
                }
            },
            onClickSoundSlowly(snd) {
                if (snd) {
                    this.audio = new Audio();
                    this.audio.src = "public/sounds/" + snd;
                    this.audio.playbackRate = 0.5;
                    this.audio.play();
                }
            },
        },
        created() {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.words = words;
            }, 1000);
        },
        destroyed() {
            if (this.audio)
                this.audio.pause();
        },
    }
</script>