<template>
    <div id="intro">
        <img id="cloud" src="public/images/cloud.png" alt="ҚазLingua">
        <v-layout row wrap align-center class="ma-0">
            <v-flex xs12 md6 lg4 offset-lg2>
                <v-card flat class="transparent pa-4">
                    <img id="logo" src="public/images/logo.png" style="margin-top:0" alt="ҚазLingua">
                    <h3 class="white--text" v-html="intro.title"></h3>
                    <h5 class="white--text" v-html="intro.text">
                    </h5>
                    <div style="text-align: center;">
                        <v-btn @click.native="$router.push('/main')" class="elevation-0" large
                               style="width:200px; height:50px; color:#009ed6; border-radius: 10px;">
                            <span class="title">{{$root.$data.start}}</span>
                        </v-btn>
                    </div>
                </v-card>
            </v-flex>
            <v-flex xs12 md6 lg3>
                <v-layout column align-center>
                    <img :height="windowSize.y*0.7" class="mt-3"
                         :src="intro.image" alt="">
                    <v-layout row wrap justify-center align-center style="z-index:2; text-align: center"
                              class="mt-4 mb-5 pb-5">
                        <a v-if="intro.android"
                           target="_blank"
                           class="ma-2"
                           :href="intro.android">
                            <img src="public/images/googleplay.png" alt="">
                        </a>
                        <a v-if="intro.ios"
                           class="ma-2"
                           target="_blank"
                           :href="intro.ios">
                            <img src="public/images/appstore.png" alt="">
                        </a>
                    </v-layout>
                </v-layout>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        data: () => ({
            intro: Configs.intro,
            windowSize: {
                x: 0,
                y: 0
            }
        }),
        created() {
            this.windowSize = {x: window.innerWidth, y: window.innerHeight}
        }
    }
</script>

<style>
    #intro {
        background: #009ed6;
        position: fixed;
        left: 0;
        top: 70px;
        margin: 0;
        overflow: scroll;
        padding: 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .half {
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 50%;*/
    }

    #logo {
        position: absolute;
        bottom: 120%;
    }

    #cloud {
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>
