<template>
    <v-parallax height="200" src="public/images/geometric.png">
        <v-layout column align-center justify-center>
            <h3 class="white--text">KazLingua</h3>
            <h6 class="white--text pl-4 pr-4">
                Приложение поможет изучить казахский язык быстрее. База заданий основана на частотном словаре 3 класса
            </h6>
        </v-layout>
    </v-parallax>
</template>