<template>
    <v-app>
        <fullscreen ref="fullscreen" @change="fullscreenChange">
            <v-toolbar style="background:#009ed6; z-index: 999;"  light :class="[$route.path=='/'?'elevation-0':'']"
                       :style="{height:$store.getters.isMobile && $route.name!=='intro' ? '':'80px'}">
                <template v-if="$store.getters.isMobile">
                    <v-toolbar-side-icon light @click.native="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title v-if="$route.path!='/'">
                        <span class="title">{{$root.$data.title}}</span>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="toggle" flat floating>
                        <v-icon light>{{fullscreen ? 'fullscreen_exit':'fullscreen'}}</v-icon>
                    </v-btn>
                    <v-navigation-drawer fixed temporary hide-overlay v-model="drawer" light style="">
                        <v-toolbar flat style="background-color:#009ed6; height:160px;position: relative;padding:0;">
                            <div style="position: absolute;left: 0;top: 5%; width: 50%;height: 90%;background-color:transparent; background-image: url('public/images/logo.png'); background-position: center; background-repeat: no-repeat; background-size: contain;">
                            </div>
                        </v-toolbar>
                        <v-list dense class="pt-0">
                            <template v-for="(item, index) in $root.$data.menu">
                                <v-list-tile @click.native="onClickMenu(item.route)" style="min-height:50px;">
                                    <v-list-tile-content>
                                        <v-list-tile-title style="font-size: 1.2em;color:#525252">{{ item.title }}
                                        </v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-divider></v-divider>
                            </template>
                        </v-list>
                    </v-navigation-drawer>
                </template>
                <template v-else>
                    <v-toolbar-logo v-if="$route.name!=='intro'">
                        <img src="public/images/logo.png" style="height:70px;" alt="ҚазLingua">
                    </v-toolbar-logo>
                    <v-spacer></v-spacer>
                    <v-toolbar-items class="menu-items">
                        <v-toolbar-item v-for="(item, index) in $root.$data.menu" :key="index">
                            <router-link :style="{fontWeight: $route.path === item.route ? '800': '',opacity: $route.path === item.route ? '1': '0.8'}"
                                    :to="item.route">{{item.title}}</router-link>

                        </v-toolbar-item>
                    </v-toolbar-items>
                </template>
            </v-toolbar>

            <div class="grey lighten-4" style="position:fixed; top:0; left:0; width:100%; height:100%;"></div>

            <main>
                <v-container fluid>
                    <v-slide-x-transition mode="out-in">
                        <router-view class="tile">
                        </router-view>
                    </v-slide-x-transition>
                </v-container>
            </main>

            <v-footer style="background:#009ed6" fixed v-show="!$store.getters.isMobile">
                <v-spacer></v-spacer>
                <div>&copy {{ $root.$data.copyright }}</div>
            </v-footer>
        </fullscreen>
    </v-app>
</template>

<script>
    export default {
        data: () => ({
            fullscreen: false,
            drawer: true,
            right: null
        }),
        mounted() {
            this.onResize()
            window.addEventListener('resize', this.onResize, {passive: true})
        },
        beforeDestroy() {
            if (typeof window !== 'undefined') {
                window.removeEventListener('resize', this.onResize, {passive: true})
            }
        },
        methods: {
            onResize() {
                this.$store.commit('setScreenWidth', window.innerWidth)
            },
            onClickMenu(route) {
                this.$router.push(route);
            },
            toggle() {
                this.$refs['fullscreen'].toggle() // recommended
                // this.fullscreen = !this.fullscreen // deprecated
            },
            fullscreenChange(fullscreen) {
                this.fullscreen = fullscreen
            }
        }
    }
</script>

<style lang="stylus">
    @import 'stylus/main'
</style>

<style>
    .tile {
        width: 80%;
        max-width: 900px;
        margin: 0 auto;
        position: relative;
    }

    .menu-items a {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        font-weight: 400;
        width: 150px;
        text-align: center;
    }

    .fullscreen {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
</style>